body{
    width: auto;
    margin: 0;
    font-size: 16px;
    color: #F9FAF8;
}

.header{
    background-color: #1F2937;
    padding-bottom: 100px;
}

.nav{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 100px;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 0;
}

ul{
    list-style-type: none;
    border: 0;
    display: flex;
}

a{
    color: #F9FAF8;
    text-decoration: none;
    margin-left: 20px;
}

.logo{
    width: 100px;
    height: auto;
}

.title-image{
    width: 350px;
    height: auto;
    margin: 0 auto;
}

.info{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.details p{
    width: 60%;
}

button{
    width: 100px;
    padding: 8px;
    background-color: #3882f6;
    border-color: #F9FAF8;
    color: #F9FAF8;
}

.details{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 60%;
    margin: 0 auto;
}

/* Body style */

.body{
    width: 60%;
    margin: 0 auto;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    margin-bottom: 60px;
    color: #1F2937;
    font-weight: bolder;
}


.pics{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dentistImages{
    width: 20%;
    height: auto;
    border: solid 4px blue;
    border-radius: 20%;
    margin: 0 auto;
}

.captions{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #1F2937;
    margin-top: 14px;
}

.captions p{
    width: 20%;
    margin: 0 auto;
}

/* quote */

.quote{
    margin-top: 100px;
    background-color: #1F2937;
    background-color: #e5e7eb;
    padding: 50px 0;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}

.quoteinfo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.author{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    font-weight: bold;
}

.footer{
    margin-top: 100px;
}

.promotion-info{
    display: flex;
    flex-direction: column;
}

.promotion{
    background-color:#3882F6;
    color: #F9FAF8;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 24px;
    border-radius: 25px;
    font-size: 16px;
}

.copyright{
    margin-top: 20px;
    padding: 10px;
    background-color: #1F2937;
    text-align: center;
    padding: 30px 0;
    margin-top: 100px;
}

h4{
    padding: 0;
    margin-bottom: 0;
    font-size: 24px;
    color: #F9FAF8;
}